*{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    /* border-style: solid;
    border-color: red; */
}

h1{
    font-size: 48px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 24px;
    font-weight: 700;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

p, h1, h2, h3{
    margin: 0px;
}

.content-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    padding: 0px 16px;
    max-width: 1200px;
    flex: auto;
}

.header-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    margin: 0px;
    height: 60px;
}

.header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul{
    padding: 0px;
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.header a{
    text-decoration: none;
    color: #E5E7EB;
}

.main-page-box{
    background-color: #1f2937;
    height: 500px;
}

.main-page{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.main-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 500px;
    /* flex: auto; */
}

.main-text h1{
    color: #F9FAF8;
    font-weight: 900;
}

.main-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.main-text button{
    width: 150px;
    padding: 10px; 
    border-radius: 10px;   
    background-color: #3882F6;
    color: #F9FAF8;
}

.main-page img{
    height: 250px;
    max-width: 600px;
    flex: auto;
    object-fit: cover;
}

.random-info-box{
    padding: 80px 40px 120px;
}

.random-info{
    text-align: center;
    height: 400px;
}

.tile-box{
    display: flex;
    margin: 48px auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;I
}

.tile{
    width: 200px;
}

.tile .square{
    width: 200px;
    height: 200px;
    border-color: #3882F6;
    border-radius: 20px;
    border-style: solid;
    margin-bottom: 12px;
}